@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 80%;
  margin: 0 auto;
}

textarea {
  width: calc(90% - 8px);
  height: 400px;
}

form {
  width: calc(90% - 8px);
  height: 90%
}

#json_textarea {
  width: 100%;
}

a {
  color: #000000;
  cursor: pointer;
}

p {
  display: block;
}

button {
  display: none;
}

button.visible, p {
  display: block;
}

#sidebar {
  position: absolute;
  left: 0px;
  text-align: left;
}

#list-element {
  text-align: left;
}

#list-element.hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

@media (max-width: 1280px) {
  textarea {
    width: 100%;
    margin-bottom: 10px;
  }
}
