@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  font-family: 'Work Sans', sans-serif;
  background: #ffffff;
  padding: 30px 0px 0 30px;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 140px;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1em;
  text-rendering: optimizeLegibility;
  text-align: left;
  min-width: 275px;
  max-width: 970px;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

main {
  width: 80%;
  margin: 0 auto;
  text-decoration: none;
}

#main-header {
  text-align: right; 
  text-decoration: none;
}

#logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  padding-right: 100px;
  display: inline-block;
  text-decoration: bold;
  
}

#sidebar {
  position: absolute;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 400px;
    padding-left: 5px;
    min-width: 100px;
    max-width: 10px;
    margin: 0px;
    top: 120px;
    left: 35px;
  
  text-align: left;
  text-decoration: none;
  list-style-type: none;
  border-style: solid;
    border-left: black;
    border-bottom: black;
    border-top: black;
    border-right-width: 5px;
}

#list-element a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

#list-element a:hover, a:active  {
 -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

#container {
  padding-top: 60px;
  padding-left: 20px;
  margin: 0px;
  left: 0px;
  -webkit-animation: fadeLeft 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: fadeLeft 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: fadeLeft 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
  animation: fadeLeft 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
} 
  @keyframes fadeLeft {
    from {
      margin-left: -10px;
      opacity: 0;
   }
   to {
      margin-left: 0px;
      opacity: 1;
   }
  }
  @-moz-keyframes fadeLeft {
      from {
         margin-left: -10px;
         opacity: 0;
      }
      to {
         margin-left: 0px;
         opacity: 1;
      }
   }
   @-webkit-keyframes fadeLeft {
      from {
         margin-left: -10px;
         opacity: 0;
      }
      to {
         margin-left: 0px;
         opacity: 1;
      }
    }

.divTable {
  display: table;         
  width: auto;         
  background-color: #eee;         
  border: 0px;         
  border-spacing: 5px; 
}

.divTableRow {
  display: table-row;
  width: auto;
  clear: both;
  background-color: #eee;
}

.divTableCell {
  display: table-cell;
  float: left;        
  width: 200px;         
  background-color: #eee;  
}

@media (max-width: 1280px) {
  textarea {
    width: 100%;
    margin-bottom: 10px;
  }
}

